@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

$body-bgcolor: #d5dee2;
$heading-bgcolor: #8591d5;
$todoButton-bgcolor: #8591d5;

body {
    background-color: $body-bgcolor;

    p {
        margin-bottom: 30px;
    }
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    background-color: $heading-bgcolor;
    margin: 0 0 25px 0;
    padding: 10px 0 10px 0;
    font-size: 50px;
}


.todoDone {
    text-decoration: line-through;
}

.btn {
    background-color: #8591d5;
}
/************************************************
    Animation
************************************************/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
