body {
    background-color: #d5dee2;
}

h4 {
    margin-bottom: 35px;
}

.todoContainer {
    width: 85%;
    background-color: #fff;
}

.todoButton {
    margin-top: 15px;
    margin-right: 15px;
}

.todoDone {
    text-decoration: line-through;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
